<h1>S3 object Copy Tool</h1>
<!-- This is a comment 
{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}
-->
<form action="your-url" method="post">
  <table>
    <tr>
      <td align="right"><label for="sourcebucket">Source Bucket Name    </label></td>
      <td align="left"><input type="text" name="sourcebucket" value="kvsource"  required> <td align="right"><button type="submit" formaction=listsrcbucket> ListSourceBucket</button></td> </td>
    </tr>
  <br>
    <tr>
      <td align="right"><label for="destbucket">Destination Bucket Name</label></td>
      <td align="left"><input type="text" name="destbucket" value="kvdest"  required> <td align="right"><button type="submit" formaction=listdestbucket> ListDestBucket</button></td></td>
    </tr>
  <br>
    <tr>
  <td align="right"><label for="sizemb">Threshold size(MB)</label></td>
    <td align="left"><input type="text" name="sizemb" value="1" required></td>
    </tr>
  <br>
    <tr>
      <td align="right"><input type="submit" value="Copy"></td>
    </tr>
  </table>
</form>
